body {
  font-family: "roboto", sans-serif;
  font-weight: 400;
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 24px;
}

h1 {
  font-family: "roboto", sans-serif;
  font-weight: bold;
  color: #ffffff;
  background-color: #2e2f42;
  font-size: 56px;
  letter-spacing: 0.02em;
  line-height: 60px;
  text-align: center;
}

h2 {
  font-family: "roboto", sans-serif;
  font-weight: bold;
  color: #2e2f42;
  background-color: #ffffff;
  font-size: 36px;
  letter-spacing: 0.02em;
  line-height: 40px;
  text-align: center;
}

h3 {
  font-family: "roboto", sans-serif;
  font-weight: 500;
  font-style: medium;
  color: #2e2f42;
  background-color: #ffffff;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 24px;
}

.page-nav.link {
  font-family: "roboto", sans-serif;
  font-weight: 500;
  color: #4d5ae5;
  background-color: #ffffff;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 24px;
  text-align: center;
}

.page-nav .link:hover,
.page-nav .link:focus {
  font-family: "roboto", sans-serif;
  font-weight: 500;
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 24px;
  text-align: center;
}

page-nav .link:active {
  font-family: "roboto", sans-serif;
  font-weight: 500;
  color: #4e5ae5;
  background-color: #ffffff;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 24px;
  text-align: center;
  text-decoration: underline;
}

.address .link:hover {
  font-family: "roboto", sans-serif;
  font-weight: 400;
  color: #4d5ae5;
  background-color: #ffffff;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 20px;
}

.button {
  font-family: "roboto", sans-serif;
  font-weight: 600;
  color: #ffffff;
  background-color: #000000;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 24px;
  text-align: center;
}

.body-medium {
  font-family: "roboto", sans-serif;
  font-weight: 400;
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 24px;
}

.button:hover {
  color: #4e5ae5;
  cursor: pointer;
}