body {
  font-family: "roboto", sans-serif;
  font-weight: 400;
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 24px;
}

h1 {
  font-family: "roboto", sans-serif;
  font-weight: bold;
  color: #ffffff;
  background-color: #2e2f42;
  font-size: 56px;
  letter-spacing: 0.02em;
  line-height: 60px;
  text-align: center;
}

h2 {
  font-family: "roboto", sans-serif;
  font-weight: bold;
  color: #2e2f42;
  background-color: #ffffff;
  font-size: 36px;
  letter-spacing: 0.02em;
  line-height: 40px;
  text-align: center;
}

h3 {
  font-family: "roboto", sans-serif;
  font-weight: 500;
  font-style: medium;
  color: #2e2f42;
  background-color: #ffffff;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 24px;
}

.logo-web {
  font-family: "roboto", sans-serif;
  font-weight: 700;
  color: #4d5ae5;
  background-color: #ffffff;
  font-size: 18px;
  letter-spacing: 0.03em;
  line-height: 21px;
  text-align: middle;
  text-transform: uppercase;
}

.logo-studio {
  font-family: "roboto", sans-serif;
  font-weight: 700;
  color: #2e2f42;
  background-color: #ffffff;
  font-size: 18px;
  letter-spacing: 0.03em;
  line-height: 21px;
  text-align: middle;
  text-transform: uppercase;
}

.page-nav .link {
  font-family: "roboto", sans-serif;
  font-weight: 500;
  font-style: medium;
  color: #2e2f42;
  background-color: #ffffff;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 24px;
  text-decoration: none;
}

.page-nav .link:hover {
  font-family: "roboto", sans-serif;
  font-weight: 500;
  font-style: medium;
  color: #404ddf;
  background-color: #ffffff;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 24px;
  text-decoration: none;
}

.page-nav .link:active {
  font-family: "roboto", sans-serif;
  font-weight: 500;
  color: #404ddf;
  background-color: #ffffff;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 24px;
  text-decoration: none;
}

.address .link {
  font-family: "roboto", sans-serif;
  color: #2e2f42;
  background-color: #ffffff;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 20px;
  text-decoration: none;
}

.address .link:hover {
  font-family: "roboto", sans-serif;
  color: #4d5ae5;
  background-color: #ffffff;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 20px;
  text-decoration: none;
}

.button {
  font-family: "roboto", sans-serif;
  font-weight: 600;
  color: #ffffff;
  background-color: #4d5ae5;
  font-size: 16px;
  letter-spacing: 1em;
  line-height: 4%;
  text-align: middle;
  cursor: pointer;
  text-decoration: none;
}

.button:hover {
  font-family: "roboto", sans-serif;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 1em;
  line-height: 4%;
  text-align: middle;
  cursor: pointer;
  background-color: #404ddf;
  text-decoration: none;
}

.button:active {
  font-family: "roboto", sans-serif;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 1em;
  line-height: 4%;
  text-align: middle;
  cursor: pointer;
  background-color: #2e2f42;
  text-decoration: none;
}

.title {
  background-color: #2e2f42;
}

.services {
  text-decoration: none;
}

.team {
  text-decoration: none;
}

.portfolio {
  text-decoration: none;
}

footer {
  background-color: #2e2f42;
}